<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
    $title = "الإشتراك";
    $sub_title = "سجل إيميلك لمزيد من العروض الخاصة والأخبار";;
?>
<div class="block newsletter">
    <div class="block-title"><b><?php echo __('الإشتراك'); ?></b></div>
    <div class="content">
        <p><?php echo __('سجل إيميلك لمزيد من العروض الخاصة والأخبار'); ?></p>
        <label for="footer_newsletter"><?php echo __('ادخل عنوان بريدك الالكتروني') ?></label>
        <form class="form subscribe"
            novalidate
            action="<?php echo $block->getFormActionUrl() ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <label class="label" for="footer_newsletter"><span><?php echo __('Sign Up for Our Newsletter:') ?></span></label>
                <div class="control">
                    <input name="email" type="email" id="footer_newsletter"
                                data-validate="{required:true, 'validate-email':true}" placeholder="بريدك الالكتروني"/>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary" title="<?php echo __('Subscribe') ?>" type="submit">
                    <span><?php echo __('الإشتراك') ?></span>
                </button>
            </div>
        </form>
    </div>
</div>
