<?php if (\Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->isSetFlag('medicalshop_settings/newsletter_popup/enabled',\Magento\Store\Model\ScopeInterface::SCOPE_STORE) && $block->getLayout()->createBlock('Medicalshop\Zozothemes\Block\Template')->_request->getFullActionName() === 'cms_index_index'): ?>

<?php
    //$mediaObj= $block->getLayout()->createBlock('Medicalshop\Zozothemes\Block\Template')->getImageMediaPath();
    $delay = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('medicalshop_settings/newsletter_popup/delay',\Magento\Store\Model\ScopeInterface::SCOPE_STORE);	
    //$LogoImg = $mediaObj.'medicalshop/newsletter/'.\Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('medicalshop_settings/newsletter_popup/show_logo');	
    $newsletter_content = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('medicalshop_settings/newsletter_popup/newsletter_content',\Magento\Store\Model\ScopeInterface::SCOPE_STORE);	
    $newsletter_width = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('medicalshop_settings/newsletter_popup/newsletter_width',\Magento\Store\Model\ScopeInterface::SCOPE_STORE);	
    $newsletter_height = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('medicalshop_settings/newsletter_popup/newsletter_height',\Magento\Store\Model\ScopeInterface::SCOPE_STORE);	
    $newsletter_bg_color = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('medicalshop_settings/newsletter_popup/newsletter_bg_color',\Magento\Store\Model\ScopeInterface::SCOPE_STORE);	
    //$newsletter_bg_image = $mediaObj.'medicalshop/newsletter/'.\Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('medicalshop_settings/newsletter_popup/newsletter_bg_image');	
    $newsletter_custom_style = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('medicalshop_settings/newsletter_popup/newsletter_custom_style',\Magento\Store\Model\ScopeInterface::SCOPE_STORE);	
    if(!$delay || !is_numeric($delay))
    $delay = 3000;
    
    $LogoImg = $block->getLayout()->createBlock('Medicalshop\Zozothemes\Block\Template')->getNewsletterLogoSrc();
    $newsletter_bg_image = $block->getLayout()->createBlock('Medicalshop\Zozothemes\Block\Template')->getNewsletterbgSrc();
?>
<script type="text/javascript">
    require(
            ['jquery','jquery/jquery.cookie','domReady','fancybox_pack'
        //'fancybox_button','fancybox_media', 'fancybox_thumbs','fancybox'removed as helper prob
            ],
    function (tube) {
        var check_cookie = tube.cookie('newsletter_popup');
        if(window.location!==window.parent.location){
            tube('#newsletter_popup').remove();
        }else{
            if(check_cookie === null || check_cookie === 'shown') {
                setTimeout(function(){
                    beginNewsletterForm();
                }, <?php echo $delay; ?>);
            }
            tube('#newsletter_popup_dont_show_again').on('change', function(){
                if(tube(this).length){        
                    var check_cookie = tube.cookie('newsletter_popup');
                    if(check_cookie === null || check_cookie === 'shown') {
                        tube.cookie('newsletter_popup','dontshowitagain');            
                    }
                    else
                    {
                        tube.cookie('newsletter_popup','shown');
                        beginNewsletterForm();
                    }
                } else {
                    tube.cookie('newsletter_popup','shown');
                }
            });
        }
    

function beginNewsletterForm() {
    jQuery.fancybox({
        'padding': '0px',
        'autoScale': true,
        'transitionIn': 'fade',
        'transitionOut': 'fade',
        'type': 'inline',
        'href': '#newsletter_popup',
        'onComplete': function() {
            tube.cookie('newsletter_popup', 'shown');
        },
        'tpl': { 
            closeBtn: '<a title="Close" class="fancybox-item fancybox-close fancybox-newsletter-close" href="javascript:;"></a>' 
        }
//        ,
//        'helpers': {
//            overlay: {
//                locked: false
//            }
//        }
    });
    jQuery('#newsletter_popup').trigger('click');
}
});
</script>
<style type="text/css">
<?php
    if($newsletter_custom_style){
        echo $newsletter_custom_style;
    }
?>
.page>#newsletter_popup {
    display: none;
}
#newsletter_popup{
<?php
    if($newsletter_width){
        echo "max-width:".$newsletter_width.";";
    }
    if($newsletter_height){
        echo "max-height:".$newsletter_height.";";
    }
    if($newsletter_bg_color){
        echo "background-color:#".$newsletter_bg_color.";";
    }
    if(isset($newsletter_bg_image) && $newsletter_bg_image){
?>
    background-image:url(<?php echo $newsletter_bg_image;?>);
<?php
    }
?>
}
</style>
<div class="block block-subscribe newsletter-popup" id="newsletter_popup">
        
        <form class="form subscribe"
            novalidate
            action="<?php echo $block->getFormActionUrl() ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-popup-validate-detail">
            <div class="block-content">
                <?php if(isset($LogoImg) && $LogoImg):?>
                <img class="popup-logo" src="<?php echo $LogoImg; ?>" alt="" />
                <?php endif;?>
                <?php echo $newsletter_content; ?>
                <div class="input-group">
                    <input name="email" type="email" id="footer_newsletter" data-validate="{required:true, 'validate-email':true}"/>
                    <span class="input-group-btn">
                        <button class="action subscribe primary" title="<?php echo __('Subscribe') ?>" type="submit">
                            <i class="varmo-icon-line-plane"><?php // echo $this->__('Go!') ?></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>
        <script type="text/javascript">
    //<![CDATA[
     //window.onload = function () {
        document.getElementById("newsletter-popup-validate-detail").onsubmit=function(){
            jQuery.cookie('newsletter_popup','dontshowitagain');
        };
    //};
    //]]>
    </script>
    <div class="subscribe-bottom">
        <input type="checkbox" id="newsletter_popup_dont_show_again"/>
        <label for="newsletter_popup_dont_show_again"><?php echo __("Don't show this popup again"); ?></label>
    </div>
</div>
    
<?php endif; ?>