<?php
    $contacts_config = $this->getConfig('medicalshop_settings/contacts');
    $_customblock = $contacts_config['customblock'];
    $_enable = $contacts_config['enable'];
    if($_enable){
        $_full_width = $contacts_config['full_width'];
        $_address = $contacts_config['address'];
        $_zoom = $contacts_config['zoom'];
        $_center_lat = $contacts_config['latitude'];
        $_center_lng = $contacts_config['longitude'];
?>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.17"></script>
<script type="text/javascript">
    function initialize() {
        var pos = new google.maps.LatLng(<?php echo $_center_lat; ?>, <?php echo $_center_lng; ?>);
        var mapOptions = {
            center: pos,
            panControl: true,
            scrollwheel: false,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: true,
            streetViewControl: true,
            overviewMapControl: true,
            zoom: <?php echo $_zoom; ?>
        };
        var map = new google.maps.Map(document.getElementById("store_map"), mapOptions);
        var marker = new google.maps.Marker({
            position: pos,
            map: map,
            title: '<?php echo $_address; ?>'
        });
        var styles = [
					  {
						stylers: [
						  { hue: "#000000" },
						  { saturation: -100 }
						]
					  },{
						featureType: "road",
						elementType: "geometry",
						stylers: [
						  { lightness: 0 },
						  { visibility: "simplified" }
						]
					  },{
						featureType: "road",
						elementType: "labels",
						stylers: [
						  { visibility: "off" }
						]
					  }
					];

		map.setOptions({styles: styles});
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<section class="section map-section">
    <?php if(!$_full_width): ?>
        <div class="container">
    <?php endif; ?>
        <div id="store_map" style="min-height: 300px; width: 100%;"></div>
    <?php if(!$_full_width): ?>
        </div>
    <?php endif; ?>
</section>
<?php if($_customblock) {
        $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
        if($block) {
            $block->setBlockId($_customblock);
        }
        if($block){
            echo '<div class="row"><div class="col-sm-12">'.$block->toHtml().'</div></div>';
        }
    }
?>
<?php
    }
?>