<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Product list template
 *
 * @var $block \Medicalshop\Countdown\Block
 */
?>
<?php
$_productCollection = $block->getProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$_zozohelper = $this->helper('Medicalshop\Zozothemes\Helper\Data');
$review_model = $_zozohelper->getModel('\Magento\Review\Model\Review');
$_category_config = $_zozohelper->getConfig('medicalshop_settings/category');
$_category_grid_config = $_zozohelper->getConfig('medicalshop_settings/category_grid');
//$_dealblock = $block->getLayout()->createBlock('Medicalshop\Countdown\Block\Product\View');

$aspect_ratio = $this->getData("aspect_ratio");
if($aspect_ratio == null) {
    $aspect_ratio = $_category_config['aspect_ratio'];
}
$image_width = $this->getData("image_width");
if(!$image_width) {
    $image_width = ($_category_config['ratio_width'])?$_category_config['ratio_width']:300;
}
$image_height = $this->getData("image_height");
if(!$image_height) {
    $image_height = ($_category_config['ratio_height'])?$_category_config['ratio_height']:300;  
}

$product_count = $this->getProductLimit();


?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php
    $viewMode = 'grid';
    $image = 'category_page_grid';
    $hover_image = 'category_page_grid-hover';
    $showDescription = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    ?>
    <div class="products wrapper <?php echo $viewMode; ?> products-<?php echo $viewMode; ?>">
        <?php $iterator = 1; $item_counter = 0; $i=0;?>
        <div class="filterproducts products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php echo($iterator++ == 1) ? '<div class="item product products-items product-item">' : '</div><div class="item product products-items product-item">' ?>
                <div class="product-item-info" data-container="product-grid">
                    <div class="product details product-item-details">
                    	<div id="countdowntimer" class="countdowntimer">
                        <span id="future_date-<?php echo $item_counter; ?>"></span></div>
                        <script>
                                require([
                                        'jquery',
                                        'Medicalshop_Countdown/js/jquery.countdownTimer'
                                ], function ($) {
                                        //console.log('countdowntimer start');
                                        jQuery("#future_date-<?php echo $item_counter; ?>").each(function(e){
                                            jQuery(this).countdowntimer({
                                                startDate : "<?php echo date('Y/m/d H:i:s'); ?>",
                                                dateAndTime : "<?php echo str_replace('-','/',$_helper->productAttribute($_product, $_product->getSpecialToDate(), 'special_to_date')); ?>",
                                                size : "lg",
                                                regexpMatchFormat: "([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2})",
                        // 			regexpReplaceWith: "$1 days $2 hours $3 minutes $4 seconds REMAINING"        
                                                //regexpReplaceWith: "$1<sup>days</sup> / $2<sup>hours</sup> / $3<sup>minutes</sup> / $4<sup>seconds</sup>"
                                                regexpReplaceWith: "<div><sup>$1</sup><label>days</label></div><div><sup>$2</sup><label>hours</label></div><div><sup>$3</sup><label>minutes</label></div><div><sup>$4</sup><label>seconds</label></div>"
                                    });
                                        });    
                                });
                        </script>
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>">
                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>
                        <?php //$_category_config['rating_star'] = "";  //disabled at the moment ?>
                        <?php if($_category_config['rating_star']): ?>
                        <?php
                            $review_model->getEntitySummary($_product);
                            $review_html = $block->getReviewsSummaryHtml($_product, $templateType);
                        ?>
                        <?php if($review_html): ?>
                            <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                        <?php else: ?>
                        <div class="product-reviews-summary short">
                            <div class="rating-summary">
                                <span class="label"><span>Rating:</span></span>
                                <div class="rating-result" title="0%">
                                    <span style="width:0"><span>0%</span></span>
                                </div>
                            </div>
                        </div>
                        <?php endif; ?>
                        <?php endif; ?>
                        <?php if ($showDescription):?>
                            <div class="product description product-item-description">
                                <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>"
                                   class="action more"><?php echo __('Learn More') ?></a>
                            </div>
                        <?php endif; ?>
                        <?php if($_category_config['product_price']): ?>
                        <?php echo $block->getProductPrice($_product) ?>
                        <?php endif; ?>
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</div>' : '' ?>
            <?php if (++$i == $product_count) break; ?>
            <?php $item_counter++; endforeach; ?>
        </div>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>