<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

$is_enable = $block->getenable();
$notice = $block->getnotice();
$label = $block->getlabel();
if (!$label) {
    $label = "Cancel Order";
}

if ($notice) {
    $notice = "Notice: " . $notice;
}
?>
<?php $_orders = $block->getOrders(); ?>
<?php echo $block->getChildHtml('info'); ?>
<?php if ($_orders && count($_orders)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Orders') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?php /* @escapeNotVerified */ echo __('Order #') ?></th>
                    <th scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('Date') ?></th>
                    <?php /* @noEscape */ echo $block->getChildHtml('extra.column.header'); ?>
                    <th scope="col" class="col shipping"><?php /* @escapeNotVerified */ echo __('Ship To') ?></th>
                    <th scope="col" class="col total"><?php /* @escapeNotVerified */ echo __('Order Total') ?></th>
                    <th scope="col" class="col status"><?php /* @escapeNotVerified */ echo __('Status') ?></th>
                    <th scope="col" class="col actions">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($_orders as $_order): ?>
                    <tr>
                        <td data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col id"><?php /* @escapeNotVerified */ echo $_order->getRealOrderId() ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Date')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $block->formatDate($_order->getCreatedAt()) ?></td>
                        <?php $extra = $block->getChildBlock('extra.container'); ?>
                        <?php if ($extra): ?>
                            <?php $extra->setOrder($_order); ?>
                            <?php /* @noEscape */ echo $extra->getChildHtml() ?>
                        <?php endif; ?>
                        <td data-th="<?php echo $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?php echo $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Order Total')) ?>" class="col total"><?php /* @escapeNotVerified */ echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col status"><?php /* @escapeNotVerified */ echo $_order->getStatusLabel() ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                            <a href="<?php /* @escapeNotVerified */ echo $block->getViewUrl($_order) ?>" class="action view">
                                <span><?php /* @escapeNotVerified */ echo __('View Order') ?></span>
                            </a>
                            <?php if ($is_enable == 1 && $_order->getStatusLabel() == 'Pending') : ?>
                                <a href="javascript:void(0);" class="action cancel-<?php echo $_order->getRealOrderId() ?>">
                                    <span><?php /* @escapeNotVerified */ echo __($label) ?></span>
                                </a>
                                <div class="popup-form-<?php echo $_order->getRealOrderId() ?>">
                                    <form class="form cancel-order-<?php echo $_order->getRealOrderId() ?>"
                                          action="<?php /* @escapeNotVerified */ echo $block->getFormAction($_order); ?>"
                                          id="cancellation-form"
                                          method="post">
                                        <fieldset class="fieldset">
                                            <div class="field note no-label order-q"><?php /* @escapeNotVerified */ echo __('Are you sure to cancel selected order?') ?><br>
                                                <span class="order-id"><?php /* @escapeNotVerified */ echo __('Order #:') ?><?php /* @escapeNotVerified */ echo $_order->getRealOrderId() ?></span></div>
                                            <div class="field comment col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <label class="label" for="comment"><span><?php /* @escapeNotVerified */ echo __('Any cancellation reason ?') ?></span></label>
                                                <div class="control">
                                                    <textarea name="comment" id="comment" title="<?php /* @escapeNotVerified */ echo __('Any cancellation reason ?') ?>" placeholder="<?php /* @escapeNotVerified */ echo __('Why do you want to cancel this order?') ?>" class="input-text" cols="5" rows="3"></textarea>
                                                </div>
                                            </div>
                                            <span class="order-notice"><?php /* @escapeNotVerified */ echo __($notice) ?></span>
                                        </fieldset>
                                    </form>
                                </div>
                                <script type = 'text/javascript'>
                                    require(
                                            [
                                                'jquery',
                                                'Magento_Ui/js/modal/modal'
                                            ],
                                            function (
                                                    $,
                                                    modal
                                                    ) {
                                                var options = {
                                                    type: 'popup',
                                                    buttons: [{
                                                            text: $.mage.__('Yes'),
                                                            class: 'btn-yes',
                                                            click: function () {
                                                                $('.cancel-order-<?php echo $_order->getRealOrderId() ?>').submit();
                                                            }
                                                        }, {
                                                            text: $.mage.__('No'),
                                                            class: 'btn-no',
                                                            click: function () {
                                                                this.closeModal();
                                                            }
                                                        }]
                                                };

                                                var popup = modal(options, $('.popup-form-<?php echo $_order->getRealOrderId() ?>'));
                                                $(".cancel-<?php echo $_order->getRealOrderId() ?>").on('click', function () {
                                                    $(".popup-form-<?php echo $_order->getRealOrderId() ?>").modal("openModal");
                                                });

                                            }
                                    );
                                </script>
                            <?php endif ?>
                            <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                <a href="#" data-post='<?php
                                /* @escapeNotVerified */ echo
                                        $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                        ->getPostData($block->getReorderUrl($_order))
                                ?>' class="action order">
                                    <span><?php /* @escapeNotVerified */ echo __('Reorder') ?></span>
                                </a>
                            <?php endif ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have placed no orders.'); ?></span></div>
            <?php endif ?>
