// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Varmo theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files


//
//  Layout grid
//  ---------------------------------------------

@layout__max-width: 1170px;

@total-columns: 12;

//  Variables for layout columns
@layout-column__sidebar-width: 3;

//  Checkout columns width
@layout-column-checkout__width-left: 4;

//
//  Typography
//  ---------------------------------------------

@theme-color: #2C88D3;
@base-font-family: Roboto;
@base-font-size: 15px;
@base-line-height: 1.42857143;
@base-font-color: #333333;
@_link-color: #333333;
@_link-color-visited: @theme-color;
@_link-color-hover: @theme-color;
@_link-color-active: @theme-color; 

@enable_border_radius: false;

@font-size__base: @base-font-size;
@primary__color: @base-font-color;
@link__color: #333333;
@link__hover__color: @theme-color;
@link__active__color: @theme-color;

@button__font-size: 15px;
@button-primary__background: @theme-color;
@button-primary__border: 1px solid @theme-color;
@button-primary__hover__background: @theme-color;
@button-primary__hover__border: 1px solid @theme-color;

@body_background-color: #fff;

//  Fonts
@icons__font-path: '@{baseDir}icon-fonts/fonts/varmo-icons';
@icons__font-name: 'varmo-icons';
@font-size__base: 15px;
@font-weight__base: 400;
@font-weight__normal: normal;
@line-height__base: 1.4;

// Form elements
@form-element-input-placeholder__color: #777;
@form-element-input__border-color: #e1e1e1;
@input-text__font-size: @base-font-size;
@form-element-input__border-radius: 0px;
@form-element-input__height: 40px;
@form-element-input__padding: 10px;

//  Header
@collapsible-nav-background: #fff;

@header-icons-color: @theme-color;
@header-icons-color-hover: @theme-color;
@header-border-color: #303133;
@header-border: 1px solid @header-border-color;
@header-element-border-light-color: rgba(255, 255, 255, 0.3);

@header__type1_text-color: @color-white;
@header__type1_link-color: @color-white;
@header__type1_link-hover-color: @theme-color;
@header__type1_background-color: #ffffff;
@header__type1_border-color: @theme-color;
@header__type1_top_panel_background-color: #171717;
@header__type1_top_panel_text-color: #fff;
@header__type1_top_panel_link-color: @color-white;
@header__type1_top_panel_link-hover-color: @theme-color;
@header__type1_top_link_split-color: #ccc;
@header__type1_nav_background-color: #171717;
@header__type1_nav_text-color: #fff;
@header__type1_nav_link-color: @color-white;
@header__type1_nav_link-hover-color: @theme-color;
@header__type1_nav_link-hover-background-color: transparent;
@header__type1_search_box_background-color: #151515;
@header__type1_search_box_border-color: #303133;
@header__type1_search_box_text-color: #333333;
@header__type1_search_box_button-font-color: #fff;

@header__type2_text-color: #fff;
@header__type2_link-color: #fff;
@header__type2_link-hover-color: #fff;
@header__type2_background-color: #fff;
@header__type2_top_panel_background-color: #141618;
@header__type2_top_panel_text-color: #fff;
@header__type2_top_panel_link-color: #fff;
@header__type2_top_panel_link-hover-color: #fff;
@header__type2_top_link_split-color: rgba(255,255,255,.5);
@header__type2_nav_background-color: #141618;
@header__type2_nav_text-color: #fff;
@header__type2_nav_link-color: #fff;
@header__type2_nav_link-hover-color: @theme-color;
@header__type2_search_box_background-color: #171717;
@header__type2_search_box_border-color: rgba(255,255,255,.2);
@header__type2_search_box_text-color: #333333;
@header__type2_search_box_button-font-color: #fff;

@header__type3_background-color: #1e1e1e;
@header__type3_nav_link-color: #fff;
@header__type3_nav_link-hover-color: #fff;
@header__type3_nav_link-hover-background-color: @theme-color;
@header__type3_top_panel_text-color: #fff;
@header__type3_top_panel_link-color: #fff;
@header__type3_top_panel_link-hover-color: #fff;
@header__type3_top_link_split-color: #101010;

@header__type4_background-color: #1e1e1e;
@header__type4_nav_link-color: #fff;
@header__type4_nav_link-hover-color: #fff;
@header__type4_nav_link-hover-background-color: @theme-color;
@header__type4_top_panel_text-color: #fff;
@header__type4_top_panel_link-color: #fff;
@header__type4_top_panel_link-hover-color: #fff;
@header__type4_top_link_split-color: #eee;

@header__type5_nav_link-color: #fff;
@header__type5_nav_link-hover-color: @theme-color;
@header__type5_nav_link-hover-background-color: transparent;
@header__type5_minicart-icon-font-size: 22px; 
@header__type5_search-icon-font-size: 18px;

@header__type6_nav_link-color: #fff;
@header__type6_nav_link-hover-color: #171717;
@header__type6_nav_link-hover-background-color: #fff;
@header__type6_top_panel_background-color: @theme-color;
@header__type6_top_panel_text-color: #fff;
@header__type6_top_panel_link-color: #fff;
@header__type6_top_panel_link-hover-color: #fff;

@header__type7_background-color: transparent;
@header__type7_nav_link-color: #171717;
@header__type7_nav_link-hover-color: #fff;
@header__type7_nav_link-hover-background-color: @theme-color;
@header-type7-minicart__icon_color: #171717;
@header__type7_minicart-icon-font-size: 22px;
@header__type7_search-icon-font-size: 18px;


@header__background-color: @header__type1_background-color;
@header__border-color: @header__type1_border-color;
@header-panel__background-color: @header__type1_top_panel_background-color;
@header-panel__text-color: @header__type1_top_panel_text-color;
@header__top_link_split-color: @header__type1_top_link_split-color;

//  Minicart
@minicart-icons-color: @theme-color;
@minicart-icons-color-hover: @minicart-icons-color;
@minicart__border-color: #eee;
@minicart__text-color: @base-font-color;

@header-type1-minicart__icon_color: @theme-color;
@header-type1-minicart__qty_color: #fff;
@header-type1-minicart-qty__height: 20px;
@header-type2-minicart__icon_color: #2C88D3;
@header-type2-minicart__qty_color: #fff;
@header-type2-minicart-qty__height: 24px;
@header-type2-contact-icon__height: 38px;
@header-type2-contact-icon__font-size: 14px;
@header-type3-minicart__background_color: #101010;
@header-type3-minicart__icon_color: #fff;
@header-type3-minicart__qty_color: #fff;
@header-type3-minicart-qty__height: 24px;
@header-type4-minicart__background_color: #fff;
@header-type4-minicart__icon_color: #777;
@header-type4-minicart__qty_color: #777;
@header-type4-minicart-qty__height: 24px;
@header-type5-minicart__icon_color: #333;
@header-type5-minicart__qty_color: #fff;
@header-type6-minicart__icon_color: @theme-color;
@header-type6-minicart__qty_color: #fff;
@header-type7-minicart__icon_color: #171717;
@header-type7-minicart__qty_color: #fff;

@minicart__icon_color: @header-type1-minicart__icon_color;
@minicart__qty_color: @header-type1-minicart__qty_color;
@minicart-qty__height: @header-type1-minicart-qty__height;

// Navigation

@navigation__background: transparent;
@mobile_navigation__background: #f6f6f6;
@mobile_navigation__font-color: #777;
@mobile_navigation__border-color: #ddd;
@mobile_navigation_submenu__font-color: #777;
@mobile_navigation_opened_submenu__background-color : #eee;
@mobile_navigation_opened_submenu-item_icon-color: #aaa;
@mobile_navigation-tab__background: @theme-color;
@mobile_navigation-tab__font-color: #fff;
@mobile_navigation-tab-active__font-color: @theme-color;

// Breadcrumbs
@breadcrumbs__font-size: 13px;
@breadcrumbs__container-margin: 0;
@breadcrumbs__padding: 12px 0;
@breadcrumbs-icon__font-color: inherit;
@breadcrumbs-icon__font-vertical-align: middle;

@breadcrumbs__background-color: #f1f1f1;
@breadcrumbs__font-color: #171717;
@breadcrumbs__link-font-color: @theme-color;

// Footer
@footer-middle_background-color: #121214;
@footer-middle_font-color: #777;
@footer-middle-block-title_font-color: #fff;
@footer-middle-link_font-color: #fff;
@footer-middle-icon_font-color: #777;
@footer-middle-newsletter-input_background-color: #dcdcdc;

@footer-bottom_background-color: #0c0c0c;

@footer-ribbon_background-color: @theme-color;
@footer-ribbon_font-color: #fff;

// Category
@product-info-price: #444;
@product-info-old-price: #999;
@cart-price-color: #444;
// Toolbar
@toolbar-element-background: #fff;
@toolbar-mode-icon-font-size: 23px;

// Product
@product-view-product-info-price: @theme-color;
@product-view-product-info-old-price: #999;
@product-info-page-title: #555;
@product-reviews-summary-links: #bdbdbd;
@tab-control__border-color: #e1e1e1;

// Addtolinks
@addto-wishlist-icon: @theme-color;
@addto-compare-icon: @theme-color;
@mailto-friend-icon: @theme-color;

// Grid Products icon color
@product-item-icon-color: @color-theme-dark;
@product-item-icon-border-color: @color-grey7;

//
//  Pager
//  ---------------------------------------------

@pager__font-weight: @font-weight__regular;
@pager__line-height: @indent__l;
@pager-item__margin: 0 5px 0 0;
@pager-item__padding: 0 @indent__xs;

//  Pager link.action
@pager-action__background: #fff;
@pager-action__border: 1px solid #e1e1e1;
@pager-action__color: #999;

@pager-action__hover__color: #fff;
@pager-action__hover__border: 1px solid @theme-color;
@pager-action__hover__background: @theme-color;
@pager-icon__font-margin: 0;
@pager-icon__font-size: 16px;

//  Pager link.action active
@pager-action__active__color: #fff;
@pager__active__color: #fff;

@pager__background: #fff;
@pager__border: 1px solid #e1e1e1;
@pager__hover__background: @theme-color;
@pager__hover__color: #fff;
@pager__hover__border: 1px solid @theme-color;
@pager-current__color: #fff;
@pager-current__background: @theme-color;
@pager-current__border: 1px solid @theme-color;
@pager-current__font-weight: 400;
@pager__font-size: 13px;
@pager__line-height: 24px;

//
//  Rating
//  ---------------------------------------------

@rating-icon__font-size: 16px;
@rating-icon__letter-spacing: 2px;
@rating-icon__color: #c3c5c9;
@rating-icon__active__color: #ffc600;

//  Color nesting
@panel__background-color: @color-gray-light0;
@border-color__base: @color-gray80;

//  Headings
@h3__font-weight: @font-weight__semibold;
@h3__margin-top: @indent__base;

//
//  Tables
//  ---------------------------------------------

@table-cell__padding-vertical: 11px;
@table-cell-stripped__background-color: @table-cell__hover__background-color;
@table-responsive-th__background-color: @table-cell-stripped__background-color;
@table-responsive-cell__padding: @indent__xs @indent__s;


//  Tabs
@tab-control__font-weight: @font-weight__regular;
@tab-control__height: @indent__base*2;
@tab-control__margin-right: -1px;
@tab-control__padding-top: 1px;
@tab-control__padding-right: 35px;

//  Tabs content
@tab-content__padding-top: 35px;
@tab-content__padding-right: @tab-control__padding-right;

//
//  Accordion
//  ---------------------------------------------

@accordion-control__font-family: false;
@accordion-control__font-size: @font-size__base;
@accordion-control__font-style: false;
@accordion-control__font-weight: @font-weight__semibold;
@accordion-control__border-right: false;
@accordion-control__border-bottom: false;
@accordion-control__border-left: false;
@accordion-control__background-color: false;
@accordion-control__color: @primary__color;
@accordion-control__hover__background-color: false;
@accordion-control__hover__color: @accordion-control__color;
@accordion-control__active__background-color: false;
@accordion-control__active__color: @accordion-control__color;
@accordion-control__margin-bottom: 0;
@accordion-control__padding-right: @indent__s;
@accordion-control__padding-left: @indent__s;
@accordion-content__border: false;
@accordion-content__margin: 0;
@accordion-content__padding: @indent__s @indent__s @indent__l;

//
//  Buttons
//  ---------------------------------------------

@button__font-weight: @font-weight__semibold;

//  Default = secondary button
@button__background: @color-gray-darken0;
@button__border: 1px solid @border-color__base;
@button__hover__color: @button__color;
@button__hover__background: darken(@button__background, 5%);
@button__active__background: @color-gray-darken1;

//  Primary button bg

@button_bg_transparent: transparent;
//  Primary button
@button-primary__color:@color-gray20;
@button-primary__hover__color: @color-gray20;
@button-primary__background: @button_bg_transparent;
@button-primary__hover__background: @button_bg_transparent;
@button-primary__border: none;
@button-primary__hover__border: none;
//  Button with icon
@button-icon__line-height: @icon-font__line-height;

//
//  Icons
//  ---------------------------------------------

@icon-wishlist-empty: false;
@icon-comment-reflected: false;
@icon-compare-empty: false;
@icon-arrow-up-thin: '\e708';
@icon-arrow-right-thin: '\e709';
@icon-arrow-left-thin: '\e710';
@icon-arrow-down-thin: '\e711';
@icon-wishlist-empty: '\e754';

//
//  Messages
//  ---------------------------------------------

@message__padding: 12px @indent__base 12px @indent__m;
@message__line-height: false;
@message-icon__font-size: 24px;
@message-icon__inner-padding-left: 45px;
@message-icon__top: 22px;
@message-error-icon: @icon-error;
@message-success-icon: @icon-success;

//
//  Loaders
//  ---------------------------------------------

@loader-overlay__background-color: rgba(255, 255, 255, .7);

//
//  Forms
//  ---------------------------------------------

//  Form fieldset
@form-fieldset-legend__font-size: 18px;
@form-fieldset-legend__font-weight: @font-weight__light;
@form-fieldset-legend__margin: 0 0 @indent__base;
@form-fieldset-legend__padding: 0 0 @indent__s;
@form-fieldset-legend__width: 100%;

//  Form field
@form-field-type-revert: false;
@form-field__additional-vertical-indent: @indent__s;

//  Form field label
@form-field-label__font-size: 14px;
@form-field-label__font-weight: 400;
@form-field-type-label-block__margin: 0 0 8px;

//  Form field note icon
@form-field-note-icon-font__content: false;

//
//  Dropdowns
//  ---------------------------------------------

@dropdown-toggle-icon__content: @icon-down;
@dropdown-toggle-icon__active__content: @icon-up;
@dropdown-toggle-icon__font-size: 12px;

//  Split dropdown
@dropdown-split-actions__padding: 0 @indent__xs;
@dropdown-split-toggle__actions__padding: false;

//  Actions-toolbar
@actions-toolbar-actions__position: left;
@actions-toolbar-actions-primary__margin: 0 15px 0 0;

//
//  Breadcrumbs
//  ---------------------------------------------

@breadcrumbs__container-margin: 0 0 15px;
@breadcrumbs-icon__font-size: 10px;
@breadcrumbs-icon__font-margin: 0 @indent__s;

//
//  Popups
//  ---------------------------------------------

@popup__border: 1px solid @color-gray68;
@popup-title-headings__level: h2;

//  Popup icons
@popup-icon-font__size: 16px;
@popup-icon-font__line-height: 16px;
@popup-icon-font__color: @color-gray55;
@popup-icon-font__color-hover: darken(@popup-icon-font__color, 10%);
@popup-icon-font__color-active: @popup-icon-font__color-hover;

//  Window overlay
@overlay__background: @color-gray55;
@overlay__opacity: .7;
@overlay__opacity-old: 70;

@gallery-thumb-border-color-active: @active__color;

//  Modal popup
@modal-action-close__font-size: @font-size__base;

//  Checkout tooltip icon
@checkout-tooltip-icon__font-size: 21px;

// Checkout Payment Option icon
@checkout-payment-option-title-icon__font-size: 14px;
@checkout-payment-option-title-icon__line-height: 16px;
@checkout-payment-option-title-icon__margin: 0 0 0 @indent__s;

// Checkout Sidebar Shipping Information
@checkout-sidebar-shipping-information-edit-icon__content: @icon-edit;
@checkout-sidebar-shipping-information-edit-icon__font-size: 18px;
@checkout-sidebar-shipping-information-edit-icon__line-height: 20px;
@checkout-sidebar-shipping-information-edit-icon__top: @indent__s;

// Checkout
@checkout-sidebar__columns: 8;
// ---------------------------------------------------------------------------------------------------- //


// New Less From Version 1.0 
p{
    line-height:  1.8;
}
// Default 
a, alink{
    &:hover, &:focus{
        color: @theme-color;
        text-decoration:  none;
        .transition(all 250ms ease 0s);
    }
}
a, button{
    .transition(all 250ms ease 0s);
    &:hover, &:focus{
        .transition(all 250ms ease 0s);
    }
}
.btn-link, .btn-link{
    &:hover, :focus{
        color: @theme-color;
    }
    
}
/*
// Section
*/
section, .section{
	padding-top: 60px;
	padding-bottom: 60px;
        .map-section{
            padding-top:  0;
            padding-bottom: 0;
        }
}
/* Bg Colors */
.bg-color{
    background-color: @theme-color;
}
.bg-white{
	background: #ffffff;
}
.bg-grey{
    background: #f5f5f5;
}
.bg-dark{
    background-color: @color-theme-dark;
}
.bg-semi-dark{
    background-color: @color-theme-semidark
}
.bg-light-grey{
    background: #f9f9f9 !important;
}
.bg-dark-grey{
	background: #f4f6f7;
}
.bg-light-green{
    background-color: #54a499 !important;
}
.bg-yellow{
    background-color: #d39317 !important;
}
.bg-light-blue{
    background-color: #2bd4f1 !important;
}
.bg-pink{
    background-color: #f26798 !important;
}
.bg-fb{
    background-color: #3c599f !important;
}
.bg-twitter{
    background-color: #5eaade !important;
}
.bg-skype{
    background-color: #00AAF1 !important;
}
.bg-spotify{
    background-color: #1DD069 !important;
}
.bg-youtube{
    background-color: #ec282a !important;
}
.bg-dribbble{
    background-color: #f06eaa !important;
}

/*----------------------------------------------------------

#Blockquote

----------------------------------------------------------*/
blockquote{
    .author-image {
        height: 80px;
        width: 80px;
        .border-radius(50%);
    }
    
    &.border-style {
        border: 1px solid #777;
        font-style: normal;
        padding: 30px;
        margin: 0;
        > p {
            font-family: georgia;
            font-style: italic;
            line-height: 1.75;
        }
        footer{
            margin-top:  20px;
        }
    }
    &.transparent-style {
        border: medium none;
        font-style: normal;
        padding: 0;
        text-align: center;
        .author-image{
            margin: 20px auto 0;
        }
    }
}
.owl-carousel .owl-item .author-image {
    width: 80px;
}
.owl-item blockquote.border-style{
	margin: 1px;
}
/*----------------------------------------------------------

#Section Title

----------------------------------------------------------*/
.section-title .title, .page-title h1{
	font-weight: 600;
	margin-bottom: 30px;
	margin-top: 0;
	padding: 0 0 23px;
	position: relative;
        color: @color-theme-dark;

	&:after{
            width: 40px;
            position: absolute;
            bottom: 0;
            height: 1px;
            left: 0;
            background: @theme-color;
            content: '';
	}
}
.typo-light{
    .section-title .title, .page-title h1{
        color: @color-white;
    }
}
.section-title.text-center h1, .page-title.text-center .title{
    &:after{
       left: 0;
       right: 0;
       margin: 0 auto;
    }   
}
.section-title.text-right  h1, .page-title.text-right .title{
    &:after{
	left: auto;
	right: 0;
	margin: 0;
    }   
}
/* Static Overlay block */
.static-overlay{
    position: relative;
    .child-of-static-overlay{
        position: relative;
        z-index: 1;
    }
    &:after{
        background: #000 none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.7;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
    &.overlay-sm:after {
        opacity: 0.2;
    }
    &.overlay-lg:after {
        opacity: 0.9;
    }
}

// Image Box
.content-box-title {
    font-weight: 600;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;  
    &:after{
        width: 50px;
        position: absolute;
        bottom: 0;
        height: 3px;
        left: 0;
        background: #171717;
        content: '';
    }
    a{
        color: @color-theme-dark;
    }
}
/* .lookbook{
    &-banner, &-content{
        float: left;
        width: 50%;
    }
    &-banner{
        a{
            background: @color-theme-dark;
            display: block;
            margin: 0;
            padding: 7%;
            &:hover, &:focus{
                background: #f1f1f1;
            }
        }
    }
    &-content{
        padding: 4%;
    }
    &-title{
        h4{
            color: #171717;
            font-size: 27px;
            font-weight: 600;
            margin: 0 0 20px;
        }
        span{
            color: #777;
            display: inline-block;
            font-size: 18px;
            font-weight: 100;
            letter-spacing: 3px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    }
    &-desc{
        color: #999;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 2px;
        line-height: 2;
    }
} */


// Tiles
.tile-content-wrap {
    background: #fff;
    margin: -63px 30px 0 30px;
    position: relative;
    padding: 26px;
    .border-radius(5px);
    .box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.14));
}
.overlay .tile-img-wrap{
    position: relative;
}
.tile-img-wrap img{
    margin: 0 auto;
    .border-radius(5px);
}
.tile-content-wrap{
    .title{
        margin-top: 0;
        a{
            color: @color-theme-dark;
        }
    }
    p{
        margin-top: 15px;
        margin-bottom: 0;
        color: #777;
    }
    .btn{
        margin-top: 15px;
    }
}
// Tile dark
.tile-box.tile-dark{
    .tile-content-wrap{
        background-color: #252525;
        .title a{
            color: #fff;
        }
        p{
            color: #777;
        }
    }
}
/* Feature Box */
.feature-box .feature-icon,
.feature-box:hover .feature-icon,
.feature-box.shadow-icon .feature-icon,
.feature-box.hover-shadow-icon .feature-icon,
.feature-box.hover-shadow-icon:hover .feature-icon{
    .transition(all 250ms ease 0s);
}
.feature{
    &-box{
        position: relative;
        color: #777;
        .icon-circle{
            .border-radius(50%);
        }
        .heading{
            font-size: 16px;
            font-weight: 600;
            margin: 24px 0 0;
            a{
                color: inherit;
            }
        }
        p{
            color: #777;
            font-size: 13px;
            margin-top: 15px;
            line-height:  1.8;
            margin-bottom: 0;
        }
        .btn-link {
            border-top: 1px solid rgba(0,0,0,0.05);
            display: block;
            margin-top: 18px;
            padding-top: 18px !important;
            font-weight: normal;
            color:  @color-theme-dark !important;
            &:hover, &:focus{
                color: @theme-color !important;
            }
        }
        &.icon-title-inline{
            .feature-icon{
               position: absolute;
               left: 0;
           }
           &.feature-box-bg .feature-icon{
               left: 26px;
           }
           .heading{
               margin-top: 0;
           }
           .feature-content{
               margin-left: 70px;
           }
           &.icon-transparent .feature-content{
               margin-left: 50px;
           }
        }
        .feature-content{
            p{
                margin-top: 15px;
            }
        }
        &.icon-circle{
            .feature-icon{
                .border-radius(50%);
            }
        }
        &.hover-shadow-icon{
            &:hover{
                .feature-icon{
                    .box-shadow(0 0 12px #ddd inset);
                }
            }
        }
    }
    &-icon{
        background: #171717 none repeat scroll 0 0;
        color: #fff;
        display: inline-block;
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 50px;
        i{
            line-height: inherit;
        }
    }    
}
/* White text Feature box */
.typo-light{
    .feature-box{
        color: #fff;
        .feature-icon{
            background: #fff;
            color: #171717;
        }
        &.hover-shadow-icon{
            &:hover, &:focus, &.active{
                .feature-icon{
                    .box-shadow(0 0 12px #fff inset);
                }
            }
        }
        &:hover .feature-icon{
            background: none;
            color: #fff;
        }
        p{
            color: #fff;
        }
    }
}
/* Feature box with background */
.feature-box{
    &.feature-box-bg{
            padding: 26px;
            background: #f1f1f1;
    }	
}
.feature-boxes-dark .feature-box.feature-box-bg{
    padding: 26px;
    background: #171717;
}
/* Feature Icon Transparent */
.feature-box.icon-transparent{
    .heading {
        margin-top: 15px;
    }
    .feature-icon {
        background: transparent;
        color: inherit;
        height: auto;
        width: auto;
        font-size: 28px;
        line-height: 1;
    }
    &:hover, &:focus{
        .feature-icon{
            background: transparent;
        }
    }
    &.icon-title-inline{
        .heading {
            margin-top: 0;
        }
    }
}



/* Feature Box Responsive */
    /* 991px */
    @media (max-width: 991px) {
        .col-md-3.col-sm-6 .feature-box{
            margin-bottom: 30px;
        }
        .col-space-none .col-md-3.col-sm-6 .feature-box{
                margin-bottom: 0;
        }
    }

    /* 767px */
    @media (max-width: 767px) {
        .feature-box{
            margin-bottom: 30px;
        }
    }
    
.shadow-box{
    .box-shadow(2px 2px 22px rgba(0, 0, 0, 0.18));
}    
/*----------------------------------------------------------

#Tabs

----------------------------------------------------------*/
.std .nav-tabs{
    padding-left: 0;
}
.nav-tabs{
    border-bottom: 1px solid @border-color;
    .tabs{
        margin-top: 0;
        border-bottom: 1px solid #eaeaea;
    }
    > li{
        margin-top: 0;
        a{
            font-weight: 600;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            padding: 0px 23px 18px 23px;
            border-width: 0 0 2px 0;
            border-style: solid;
            border-color: transparent;
            color: #171717;
            &:hover, &:focus{
                background: none;
                color: #777;
            }
        }
        &.active > a, &.active > a:focus, &.active > a:hover{
            border-width: 0 0 2px 0;
            border-color: @theme-color;
            color: @theme-color;
            background: none;
        }
    }
    /* Tabs Center */
    &.text-center{
        border-bottom: none;
        > li{
            float: none;
            display: inline-block;
        }
    }
}
.tab-content {
    padding: 27px 0px 0px 0px;
    margin:  0;
}
/* Multi deal tab Products */
.multideal-tab-products .tab-content {
    padding: 5px 0 0;
}
/* Countdown */
.colorDefinition {
    color : @theme-color;
}

// Deal Products
.multi-deal{
    &-wrap{
        .products-grid {
            .product-item{
                background:  #fff;
                width: 48%;
                margin-right: 10px;
            }
        }
    }
    &-col-1{
        padding-left: 7px;
        padding-right: 7px;
        .products-grid {
            .product-item{
                width: 100%;
                margin-right: 0;
            }
        }
    }
}
/*----------------------------------------------------------

#Blog Post

----------------------------------------------------------*/
.blog-list-item {
    .post-title {
        margin-bottom: 15px;
        a {
            font-size: 26px;
            font-weight: 600;
        }
    }
}
.entry-title a,
.post-title a{
    &:hover, &:focus{
        color: @theme-color;
    }
}

/*----------------------------------------------------------

#Call to action

----------------------------------------------------------*/
.calltoaction{
    &-section{
        padding-top: 45px;
        padding-bottom: 45px;
        text-align: center;
        background: #303133;
        &.bg-color{
            background-color: @theme-color;
        }
    }
    &-title {
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.11);
    }
    &-btn{
        margin-left: 20px;
        .box-shadow( 1px 1px 1px 1px rgba(0,0,0,0.11));
    }
}


/* Responsive Call to action */
@media screen and (max-width: 991px) {
    .calltoaction{
        &-title {
           display: block;
        }
        &-btn{
            margin: 15px 0 0;
        }
    }
}
/* Single Product Detail */
.fotorama .fotorama__arr {
    background: @theme-color;
    &:hover, &:focus{
        background: #171717;
    }
}
.account-nav .nav > li > a{
    background: #f1f1f1;
    color: #171717;
    margin-bottom: 1px;
    &:hover, &:focus{
        background: @theme-color;   
        color: #fff;
    }
}
.account-nav .nav > li.item.current{
    display: block;
    padding: 10px 15px;
    margin-bottom: 1px;
    background: @theme-color;
    color: #fff;
    font-weight: normal;
    strong, a{
        display: block;
        background: transparent;
        padding: 0;
        color: inherit;
        font-weight: normal;
        strong{
            font-weight: normal;
        }
    }
}
// Owl Slider 
.owl-carousel {
    .owl-controls{
        margin-top: 0;
    } 
} 
// Modal Window 
.modal-popup{
    .modal-inner-wrap{
        .modal{
            &-header{
                 padding: 0;
            }
            &-content{
                padding: 20px;
            }
            &-footer{
                padding: 20px;
                text-align: center;
                button{
                    .border-radius(30px);
                    text-transform: capitalize;
                    padding: 12px 30px;
                    text-align: center;
                    height: auto;
                    min-width: 130px;
                    border: 1px solid @border-color;
                    color: @color-grey7;
                    background: transparent;
                    line-height: 1;

                    &:hover, &:focus{
                        background: @theme-color;
                        color: #fff;
                        border-color: @theme-color;
                    }
                }
            }
        }
    }
}

/* Footer 3 */
.gallery-set{
    > li{
        float: left;
        width: 25%;
        line-height: 1;
        a{
            display: inline-block;
            margin: 0 6px 6px 0;
            position: relative;
            &:after{
                background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
                content: "";
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                .transition( all 0.3s ease 0s);
                width: 100%;
            }
            &:hover:after{
                opacity: 1;
            }
        }
    }
    &.size-md{
        > li{
            float: left;
            width: 16%;
        }
    }
    &.size-sm{
        > li{
            float: left;
            width: 11%;
        }
    }
    &.overlay-color-dark{
        > li > a{
            &:after{
                background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
            }
        }
    }
}
.link-set a {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 10px;
}

/* Footer Light */
.footer.footer-light{
    background:  #f1f1f1;
    color: #777;
}
.footer.footer-light a:hover, 
.footer.footer-light a:focus, 
.footer.footer-light a.active{
    color: #171717;
}
/* Copyright light */
.page .copyright.copyright-light{
    background:  #f9f9f9;
    color: #777;
}
.page .copyright.copyright-light a:hover, 
.page .copyright.copyright-light a:focus, 
.page .copyright.copyright-light a.active{
    color: #171717;
}

.block.typo-dark{
    .block-title strong{
        color: @color-theme-dark;
    }
}
/* Hero content */
.hero{
    &-content{
        .title {
            color: #171717;
            font-size: 50px;
            font-weight: 900;
            margin: 0 0 20px;
        }
        .desc {
            color: #999;
            font-size: 16px;
            font-weight: 100;
            letter-spacing: 2px;
            line-height: 2;
            margin-bottom: 30px;
        }
    }
}
@media screen and (max-width: 767px) {
    .hero-content {
        background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
        margin: 0 30px;
        padding: 20px;
    }
}
@media screen and (max-width: 640px) {
    .hero-content {
        margin: 0 15px;
        padding: 15px;
        .title{
            font-size: 30px;
            margin-bottom: 10px;
        }
        .desc {
            color: #999;
            font-size: 14px;
            margin-bottom: 15px;
            letter-spacing: 1px;
        }
    }
}


/* Verticle middle Wrapper */
.vmidddle-block {
    position: absolute;
    top: 50%;
    .transform (translateY(-50%));
    width: 100%;
}

/* Verticle section Scroller */
#fp-nav{
    /* background: @color-white; 
    .box-shadow(0 0 14px 0 rgba(0, 0, 0, 0.13));*/
    .border-radius(22px);
    padding: 20px 10px;
}
#fp-nav, .fp-slidesNav{
    ul{
        li{
            a{
                span{
                    background: @color-theme-dark;
                }
            }
            .fp-tooltip{
                    background: @theme-color;
                    color: @color-white;
                    .border-radius(2px);
                    font-size: 14px;
                    padding: 6px 15px;
                    text-transform: capitalize;
                    font-family: inherit;
                    .box-shadow(0 0 2px 0 rgba(0, 0, 0, 0.18));
                    top: -9px;
                    overflow: visible;
                    .transform(scale(0.5));
                &.right{
                    right: 35px;
                    &:after{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-color: transparent;
                        border-style: solid;
                        top: 50%;
                        right: -5px;
                        margin-top: -5px;
                        border-width: 5px 0 5px 5px;
                        border-left-color: @theme-color;
                    }
                }
            }
        }
    }
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip{
    .transform(scale(1));
    .transition(all 200ms ease-in 0s);
}
/* Sidebar */
@media screen and (max-width: 767px) {
    .columns{
        .sidebar-additional{
            padding-right:  2%;
            flex-basis: inherit;
        }
    }
    
}

/* Side Menu layout */

.side-header{
    .page-main{
        padding-top:  15px;

    }
    &.cms-index-index{
        .page-main{
            padding-top:  0;
        }
        .page-header.type8{
            background: rgba(0, 0, 0, 0.5);
        }
    }
}
/* Header type 8 */
header.page-header.type8{
    .mobile-search{
        .block-search{
            width: 100%;
            margin:  0;
        }
    }
    
    .panel.wrapper .header.panel > .header.links > li > a{
        &:hover, &:focus{
            color: @theme-color;
        }
    }
}


@media only screen and (max-width: 767px){
    header.page-header.type8 .zozo-megamenu.navigation.side-megamenu {
        display: block;
    }
}
/* Theme Elements */
.vertical-middle {
    position: absolute;
    top: 50%;
    .transform (translateY(-50%));
    width: 100%;
}
.link-underline{
    a{
        text-decoration: underline;
    }
    &-hvr{
        a{
            &:hover, &:focus{
                text-decoration: underline;
            }
        }
    }
}


.link-hvr-underline:hover, .link-hvr-underline:focus{
    text-decoration: underline
}
.text-shadow{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.slider-box-shadow{
    .box-shadow(1px 1px 2px rgba(0,0,0,0.2));
}
.btn{ 
    &.grey-btn{
        border-color:  #777;
        color: #bbb;
        &:hover, &:focus{
            background:  @theme-color;
            color: #fff;
            border-color: @theme-color;
        }
    }
    &.dark-btn{
        border-color:  @color-theme-dark;
        color: @color-theme-dark;
        &:hover, &:focus{
            background:  @color-theme-dark;
            color: #fff;
        }
    }
}
.form-style-2 {
    input#footer_newsletter {
        background: transparent;
        border-width: 0 0 2px 0;
        text-align: center;
    }
    .input-group-btn button.action.subscribe.primary {
        background: transparent;
        border-width: 0 0 2px 0;
        /* border-color: #e1e1e1; */
    }
}
/* Footer contact */
.contact-content-style-2{
    .contact-content-inner{
        display: table;
        .contact-content-meta{
            display: table-cell;
            vertical-align: middle;
        }
    }
}
.shape-round{
    .border-radius(50%);
}
.footer-dark{
    .form-style-2{
        .input-group input{
            &:focus{
                color: #fff;
            }
        }
        .input-group-btn button.action.primary {
            border-color: #515151;
            &:hover, &:focus{
                border-color: @theme-color;
            }
        }
    } 
}
/* Footer top */
.footer-top{
    padding-top: 40px;
    padding-bottom:  40px;
    p{
        font-size: 12px;
        color: #777;
    }
    .typo-light{
        p{
            color: #777;
        }
        .form-style-2{
            input{
                color: #fff;
                border-color: #444;
                &:focus{
                    color: #fff;
                    border-color: @theme-color;
                }
                &::-webkit-input-placeholder {
                    color: @color-white;
                }
                &:-moz-placeholder {
                    color: @color-white;
                }
            }
        }
    }
}
/* Footer dark
.typo-dark .footer-middle{
     a{
        color: @color-theme-dark;
        &:hover, &:focus{
            color: @theme-color;
        }
    }
} */

/* Intro Sliders */
.slider-section {
    padding-top: 0;
    padding-bottom: 0;
}
.full-screen-slider {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
.side-header .slider-content {
    padding-left: 330px;
}
.slider-content {
    padding-left: 50px;
    padding-right: 50px;
    &-inner{
        display: inline-block;
    }
    h2{
        font-size: 66px;
        margin: 0;
        line-height: 60px;
    }
    .sm-text {
        font-size: 26px;
        font-weight: 900;
        display: inline-block;
        .text-left{
            display: block;
        }
    }
}
.standared-slider{
    .slider-content{
        padding-left: 0;
        padding-right: 0;
    }
}

/* Slider */
@media (max-width:992px) and (min-width:768px){
    
}
/* Slider */
@media screen and (max-width: 1024px) {
   
}

/* Slider */
@media screen and (max-width: 991px) {
    .full-screen-slider{
        position: relative;
    }
    .slider-content {
        h2{
            font-size: 34px !important;
            line-height: 34px !important;
        }
        .sm-text {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: normal !important;
            .text-left{
            }
        }
        .btn {
            .border-radius(20px);
            font-size: 12px !important;
            padding: 8px 24px !important;
        }
    }
}
/* Slider */
@media screen and (max-width: 767px) {
    header.page-header{
        .mobile-search{
            .form{
                padding: 20px 15px;
                float: left;
                width: 100%;
            }
            .field.search{
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                .label{
                    display: none !important;
                }
            }
            .block-search{
                .control{
                    margin: 0 -1px 0 0;
                    padding: 0;
                    position: relative;
                    width: auto;
                    
                    input{
                        left: auto;
                        margin: 0;
                        position: relative;
                    }
                }
                .actions{
                    display: table-cell;
                    vertical-align: middle;
                    .action.search{
                        padding: 0 24px;
                        height: 48px;
                        .border-radius(0);
                        display:  inline-block;
                        border-color: @border-color;
                        &:hover, &:focus{
                            border-color: @theme-color;
                        }
                    }
                }
            }
        }
    }
}
/* Slider */
@media screen and (max-width: 480px) {
    .slider-content {
        h2{
            font-size: 20px !important;
            line-height: 20px !important;
        }
        .sm-text {
            border-bottom-width: 1px !important;
            display: inline-block;
            font-size: 16px !important;
            font-weight: 500;
            letter-spacing: normal !important;
            margin-bottom: 5px !important;
            padding-bottom: 4px !important;
          
        }
        .btn {
            font-size: 11px !important;
            margin-top: 10px !important;
            padding: 4px 14px !important;
        }
    }
}
