<?php
/**
 * Copyright © 2016 ZOZOTHEMES. All rights reserved.
 */

?>
<?php
/**
 * Top menu for store
 *
 * @see \Medicalshop\Megamenu\Block\Topmenu
 */
?>
<?php
    $_helper = $this->helper('Medicalshop\Megamenu\Helper\Data');
    $_config = $_helper->getConfig('medicalshop_megamenu');
    $columnsLimit = 0;
    if($_config['general']['enable'] && $_config['general']['nav_style'] ==='default') {
?>
<?php $_menu = $block->getMegamenuHtml(); ?>

<nav class="navigation stick-nav zozo-megamenu" role="navigation">
    <ul>
        <?php echo $_menu; ?>
    </ul>
</nav>
<script type="text/javascript">
// removed this as conflict duplicating template
//    require([
//        'jquery',
//        'zozomegamenu'
//    ], function ($) {
//        var stickynav = $(".zozo-megamenu").zozoMegamenu();
//    });
</script>
<style>
    @media only screen and (max-width: 767px){
        .stick-nav {
            display:none;
        }
    }
</style>
<?php
    } else {
?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit); ?>

<nav class="navigation zozo-megamenu" role="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":false, "position":{"my":"left top","at":"left bottom"}}}'>
        <?php /* @escapeNotVerified */ echo $_menu; ?>
    </ul>
</nav>

<?php
    }
?>