<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<li class="item link compare" data-bind="scope: 'compareProducts'" data-role="compare-products-link">
    <a class="action compare" title="<?php echo __('Compare Products') ?>"
       data-bind="attr: {'href': compareProducts().listUrl}, css: {'no-display': !compareProducts().count}"
    >
        <?php echo __('Compare Products') ?>
        (<!-- ko if: compareProducts().countCaption -->
        <span class="counter qty" data-bind="text: compareProducts().countCaption"></span>
        <!-- /ko -->
        <!-- ko ifnot: compareProducts().countCaption -->
        <span class="counter qty">0 items</span>
        <!-- /ko -->)
    </a>
</li>
<script type="text/x-magento-init">
{"[data-role=compare-products-link]": {"Magento_Ui/js/core/app": <?php echo $block->getJsLayout();?>}}
</script>
