<?php
/**
 * Author zozo@zozothemes.com
 *  
 *
 *  
 */
?>
<?php
/**
 * Blog available for import template
 *
 * @var $block \Magento\Backend\Block\Template
 */
?>

<table class="available-imports">
	<tr>
		<td class="item">
			<table>
				<tr>
					<td>
						<div class="itm-hld" onclick="window.location='<?php echo $block->getUrl('medicalshopblog/import/wordpress') ?>'">
							<span class="lable">Import from WordPress (beta)</span>
						</div>
					</td>
					<td></td>
					<td></td>
					<td></td>
				<tr>
			</table>
		</td>
		<td class="item"></td>
		<td class="item"></td>
		<td class="item"></td>
	</tr>
</table>
