<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    BSS_HtmlSiteMap
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
$helper = $block->getHelper();

//CMS and Category Link
$categories = $block->getStoreCategories(true, false, true);
$categoryHelper = $block->getCategoryHelper();
$categoryDisable = $helper->getCategoryDisable();
$titleCategory = $helper->titleCategory();
$titleCms = $helper->titleCms();
$enableCms = $helper->enableCms();
$enableCategory = $helper->enableCategory();
$cmsLink = $helper->getCmsLink();
$cmsLink = ",,".$cmsLink.",";
$categoryDisable = ",,".$categoryDisable.",";

?>
<div class="col-bss-1">
    <?php
    if($enableCategory == 1): ?>
        <div class="col-bss-2">
            <h2 class="bss_h2"><?php echo $titleCategory; ?></h2>
            <?php
        foreach($categories as $category):
            if (!$category->getIsActive()) {
                continue;
            } ?>
            <?php
            $categoryString = (string)$category->getId();
            $categoryString = ",".$categoryString.",";
            $categoryStringValidate = strpos($categoryDisable, $categoryString);
            if($categoryStringValidate == false): ?>
                <h3 class="bss_product_list">
                    <a href="<?php echo $categoryHelper->getCategoryUrl($category) ?>">
                        <?php echo $category->getName()?></a>
                </h3>
            <?php
                $setAllCategories = $block->getAllCategories($category, $categoryDisable);
                echo $setAllCategories;
                ?>
            <?php
            endif; ?>
        <?php
        endforeach;
        ?>
        </div>
        <?php
    endif; ?>
    <?php
    if($enableCms == 1): ?>
        <div class="col-bss-2">
            <h2 class="bss_h2"><?php echo $titleCms; ?></h2>
        <?php
        $getCMS = $block->getCmsPages();
        foreach ($getCMS->getCollection() as $item => $value) {
            if (!$value->getIsActive()) {
                continue;
            }
            $stringItem = (string)$item;
            $stringItem = ",".$stringItem.",";
            $stringItemValidate = strpos($cmsLink, $stringItem);
            if ($stringItemValidate == false) {
                echo '
                    <h3 class="bss_product_list">
                        <a href="'.$block->getBaseUrl().$value->getIdentifier().'/" title = "'.$value->getTitle().'"">'.$value->getTitle().'</a>
                    </h3>';
            }
        } ?>
        </div>
    <?php
    endif; ?>
</div>