<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    BSS_HtmlSiteMap
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
$helper = $block->getHelper();

//Store View Link
$additionUrl = $helper->getAdditionUrl();
$baseUrl = $helper->getBaseUrl();
$enableStoreView = $helper->enableStoreView();
$titleStore = $helper->titleStore();
?>
<?php
if($enableStoreView == 1): ?>
    <h2 class="bss_h2"><?php echo $titleStore; ?></h2>
    <div class="grid">
    <?php
    foreach ($block->getGroups() as $group): ?>
        <div class="bss_h3">
            <a href="<?php echo $baseUrl; ?>"
               data-post='<?php echo $block->getTargetStorePostData($group->getDefaultStore()); ?>'>
                <?php echo $block->escapeHtml($group->getName()) ?>
            </a>
        </div>
        <br/>
        <?php $stores = $group->getStores(); ?>
        <?php
        foreach ($stores as $lang): ?>
            <div class="col-bss-3">
                <h3 class="bss_product_list">
                    <a href="<?php echo $baseUrl; ?>"
                       data-post='<?php echo $block->getTargetStorePostData($lang); ?>'>
                    <?php echo $block->escapeHtml($lang->getName()) ?></a>
                </h3>
            </div>
        <?php
        endforeach; ?>

    <?php
    endforeach; ?>
    </div>
<?php
endif; ?>