<?php
/**
 * Author zozo@zozothemes.com
 *  
 *
 *  
 */
?>
<?php
/**
 * Blog sidebar archive template
 *
 * @var $block \Medicalshop\Blog\Block\Sidebar\Archive
 */
?>

<?php
	$_months = $block->getMonths();
?>
<?php if (count($_months)) { ?>
<div class="widget block block-archive" data-bind="scope: 'blog-archive'">
    <div class="section-title">
        <h4 class="title"><?php echo __('Archive') ?></h4>
    </div>
    <div class="block-content">
    	<?php foreach ($_months as $time) { ?>
            <?php
                $title = $block->getMonth($time).' '.$block->getYear($time);
                $title = $block->escapeHtml($title, null, true);
            ?>
            <div class="item">
                <a title="<?php echo __('Archive %s', $title) ?>" class="archive-item-link" href="<?php echo $block->getTimeUrl($time) ?>">
                    <?php echo $title; ?>
                </a>
            </div>

        <?php } ?>
    </div>
</div>
<?php } ?>