<?php
/**
 * Blog sidebar recent posts template
 *
 * @var $block \Medicalshop\Blog\Block\Sidebar\Recent
 */
?>

<?php
	$_zozobloghelper = $this->helper('Medicalshop\Blog\Helper\Data');
	$post_count = $_zozobloghelper->getConfig('medicalshopblog/post_content/post_content_count');
	$static_count = 100;
	$_postCollection = $block->getPostCollection();
	
?>
<?php if ($_postCollection->count()) { ?>
<!--<div class="widget block block-recent-posts" data-bind="scope: 'recemt-posts'">
    <div class="block-title">
        <strong><?php //echo __('Recent Posts') ?></strong>
    </div>
    <div class="block-content">-->
    	<?php foreach ($_postCollection as $_post) { ?>
            <div class="blog-item">
                <img src="<?php echo $block->escapeHtml($_post->getFeaturedImage()) ?>" alt="" class="img-responsive"/>
                <div class='post-details'>
                    <div class="post-date"><p><i class="fa fa-calendar"></i><?php echo date('F j, Y', strtotime($_post->getPublishTime())); ?></p></div>
                    <div class="post-meta">
                        <h3 class="blog-title"><a href="<?php echo $_post->getPostUrl() ?>"><?php echo $block->escapeHtml($_post->getTitle()) ?></a></h3>
                        <p class='blog-description'>
						<?php $content = $_post->getContent();
							  $content = strip_tags($content);
							  echo '<span>'.substr($content, 0, ($post_count)?($post_count): $static_count).'</span>'; 
							  //echo $_post->getContent() ?>
                        </p>
                        <a class="read-more" href="<?php echo $_post->getPostUrl() ?>">Read More</a>
                    </div>
                </div>
            </div>
        <?php } ?>
    <!--</div>
</div>-->
<?php } ?>