<?php
/**
 * Author zozo@zozothemes.com
 *  
 *
 *  
 */
?>
<?php
/**
 * Blog sidebar archive template
 *
 * @var $block \Medicalshop\Blog\Block\Sidebar\Rss
 */
?>
<div class="widget block block-rss" data-bind="scope: 'blog-rss'">
    <div class="block-title">
        <img class="rss-icon" src="<?php echo $block->getViewFileUrl('Medicalshop_Blog::images/rss-icon.png') ?>">
        <strong><a target="_blan" href="<?php echo $this->getUrl('medicalshopblog/rss/feed') ?>"><?php echo __('RSS Feed') ?></a></strong>
    </div>
</div>