.weltpixel-quickview-catalog-product-view {
  .box-tocart .action.tocart { width: 100%; }
  .page-wrapper .page-main {
        margin: /* 20px 0*/ 0;
        padding: 30px;
  }
  .reviews-actions .add {display: none;}
}
/* .box-gotoproduct #product-gotoproduct-button {width: 100%; padding: 14px 17px; font-size: 1.8rem; text-align: center} */
.page-products .product-item .weltpixel-quickview {display: none}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  .weltpixel-quickview-catalog-product-view {
    &.catalog-product-view .breadcrumbs,
    &.catalog-product-view .columns,
    &.catalog-product-view .page.messages,
    &.catalog-product-view .page-title-wrapper {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .page-products .products-grid .product-item {
    position: relative;
      .product-item-inner {margin: 9px -9px 0 -10px;}
      .product-item-details {/* position: relative; */}
      .product-item-info {
        .weltpixel-quickview.weltpixel_quickview_button_v1 span {/* padding: 18px; display: block; */}
        &:hover {
          .weltpixel-quickview.weltpixel_quickview_button_v1 {
            display: inline-block;
            position: absolute;
            /* top: 10px; */
            z-index: 9;
            /* width: 100%; */
            text-align: center;
            /* color: #555;
            background: rgba(255,255,255,0.7); */
            font-size: 14px;
            text-decoration: none;
          }
          .weltpixel-quickview.weltpixel_quickview_button_v2 {
            display: block;
            z-index: 9;
            position: absolute;
            text-indent: -10000px;
            width: 33px;
            height: 35px;
            background-image: url('../WeltPixel_Quickview/images/quickview.png');
            background-repeat: no-repeat;
            top: -46px;
            right: 0px;
          }
        }
      }
  }
}

/* =============================

        New Css - Quick view

================================ */
.mfp-iframe-scaler {
    iframe{
        .border-radius(5px);
    }
}
.weltpixel-quickview-catalog-product-view{
    .product-info-main .page-title-wrapper {
        h1{
            font-weight: normal;
            font-size: 20px;
            margin-bottom: 8px;
        }
    }
    .product-options-bottom, .product-info-price{
        .price-box .price-container .price{
            font-weight: normal;
            font-size: 20px;
        }
    }
    .product-info-main {
        .product-info-stock-sku{
            padding-left:  0;
            text-align:  left;
            display: block;
        }
        .product-info-price{
            .price-box{
                display: block;
                margin: 0;
                padding-bottom: 10px;
            }
        } 
    }
}
.product-item-info{
    position: relative;
    a.weltpixel-quickview{
        position: absolute;
        right: 10px;
        top: 10px;
        height: 36px;
        width: 36px;
        line-height: 36px;
        background: @theme-color;
        color: @color-white;
        display: inline-block;
        .box-shadow(0 2px 10px 0 rgba(0, 0, 0, 0.16));
        font-size:  16px;
        opacity: 0;
        .transition(all 250ms ease 0s);
        &:after{
            font-family: @icon-font-family;
            content: "\e087";
        }
        &:hover, &:focus{
            background: @color-white;
            color: @theme-color;
            .transition(all 250ms ease 0s);
        }
        > span{
            display: none;
        }
    }
}
.product-item:hover .product-item-info a.weltpixel-quickview{
    opacity: 1;
    .transition(all 250ms ease 0s);
}
.sidebar .product-item .product-item-info a.weltpixel-quickview{
    display: none !important;
}